body{
  height: 50vh;
  display: flex;
  align-items:center;
  justify-content: center;
}
.strength-group {
  display: flex;
  flex-direction: row ;
  align-items: center;
  gap: 4px;
  height: 5px;
  width: 100%;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
}
.strength-0 {
  background-color: #f90000;
}

.strength-1 {
  background-color: #ffa264;
}

.strength-2 {
  background-color: #00993d;
}

.strength-3 {
  background-color: #00cb35;
}

.strength-4 {
  background-color: #00de30;

}
.gray-bck{
  background-color: gray;
}
.marginRight4{
  border-radius: 15px;
  width: 20%;
  height: 100%;
}


.good-0 {
  color: #f90000;
}

.good-1 {
  color: #ffa264;
}

.good-2 {
  color: #00993d;
}

.good-3 {
  color: #00cb35;
}

.good-4 {
  color: #00de30;

}

/* .zxcvbContainer{
  width: 500px;
  height: 250px;
  padding-top: 15px;
  background-color: rgb(242, 246, 255);
}
.zxcvbnInput{
  width: 100%;
  height: 40px;
}
.top-message,.bottom-message{
  font-size: 14px;
  margin: 5px 0;
}
.bottom-message{
  color: rgb(231, 120, 30);
} */

/* poper */


/* #tooltip {
  display: inline-block;
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -6px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
} */

/* notifications messages */

.message-wrapper{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
}

.message-item{
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.5s ;
  animation-fill-mode: forward;
  width: 400px;
  color: rgb(56, 50, 50);
}
    /* enter */
/* @keyframes SlideLeft{
  0% {
    margin-left: 120%;
  }

  100%{
    margin-left: 0;
  }
} */

/* .message-item.exit {
  animation: SlideRight 0.5s ;
  animation-fill-mode: forward;
}

  /* exit */
/* @keyframes SlideRight{
  0% {
    margin-left: 0;
  }

  100%{
    margin-left: 120%;
  }
} */ 


.message-item p, h5 {
  margin: 0;
  padding: 5px 3px; 
  margin-left: 5px;
}

.message-item .bar {
  height: 5px;
  /* margin: 5px; */
  /* background-color: #643045; */
}


.message-item.success {
  background-color: #e3ffeb;
}
.message-item.success .bar{
  background-color: #57f080;
}


.message-item.error {
  background-color: rgb(230, 214, 214);
}
.message-item.error .bar {
  background-color: rgb(255, 0, 0);
}


.message-item.info {
  background-color: #cfe4ec;
}
.message-item.info .bar {
  background-color: #2b8bb1;
}


.message-item.warning {
  background-color: #f0ddc6;
}
.message-item.warning .bar {
  background-color: #ff9100;
}


.inner-border{
  padding: 5px;
  border: solid 0.5px rgb(150, 150, 150);
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  
}

.align-button{
  display: flex;
}
.close-button{
  background:transparent;
  border: none;
  margin-left: auto;
  margin-right: 5px;
}

.close-button:hover{
  color: #706d6d;

}


.title-message{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.message-button{
  margin-left: 15px;
  border-radius: 6px;
  background-color: rgb(46, 144, 173);
  color: white;
  border: solid 1px;
}

.message-button:hover{
  margin-left: 15px;
  border-radius: 6px;
  background-color: rgb(47, 166, 202);
  color: white;
  border: solid 1px white;
  
}